h1, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
    color: #1d1d1d;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

body, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    font-size: 16px;
    margin-left: 4em;
}

.entry-content {
    width: 680px;
}