h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
    color: #00b4eb;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-left: 4em;
}

.entry-content {
    width: 680px;
}